@import '../../styles/variables.scss';

@mixin mini-block {
   display: flex;
   align-items: center;

   >span {
      padding-left: 10px;
   }
}

.wrapper {
   text-align: center;
   overflow-y: scroll;
   max-height: 100vh;
   border-radius: $border-radius-block;

   &::-webkit-scrollbar {
      width: 0;
   }
   >div {
      >.block {
         @include block;
         margin-bottom: 10px;
         display: flex;
         justify-content: space-between;
         align-items: center;

         &.itemEnter {
            transform: scale(0.9);
         }

         &.itemEnterActive {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 300ms, transform 300ms;
         }

         &.itemExit {
            opacity: 1;
         }

         &.itemExitActive {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 300ms, transform 300ms;
         }
   
         >.arrow {
            @include mini-block;
         }
   
         >.date {
            @include mini-block;
   
            >span {
               color: rgba(255, 255, 255, .4);
            }
         }
      }
   }
}


.item-enter {
   opacity: 0;
   transform: translateY(-50%);
 }
 
 .item-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }
 
 .item-exit {
   opacity: 1;
   transform: translateY(0);
 }
 
 .item-exit-active {
   opacity: 0;
   transform: translateY(50%);
   transition: opacity 500ms, transform 500ms;
 }