@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @include scrollbar;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background;
  height: 100%;
}

a {
  color: inherit;
}

a,
span,
p,
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}